<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- Bootstrap CSS -->
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
            integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
            crossorigin="anonymous"
        />

        <!-- CSS -->
        <link rel="stylesheet" href="/assets/css/style-landingpage.css" />

        <!-- Font -->
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans&display=swap"
        />

        <title>Binar Challenge Chapter 3 - Bayu Luky Istanto</title>
    </head>
    <body>
        <!-- Start Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light w-100 navbargame">
            <div class="container mr-auto">
                <a class="navbar-brand mr-5 logo" href="#">Logo</a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div
                    class="collapse navbar-collapse"
                    id="navbarSupportedContent"
                >
                    <ul class="navbar-nav mr-auto navbar-center">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Work</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About Me</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Sign Up</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/formlogin">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- End Navbar -->

        <!-- Start Header-->
        <div class="jumbotron jumbotron-fluid bg-image headergame" id="header">
            <div class="container">
                <h1>Play traditional game</h1>
                <h3>Experience new traditional game play</h3>
                <a href="#" class="btn btn-warning">Play now</a>
            </div>
            <div class="container-fluid nextgamecontent">
                <h3>The story</h3>
                <a href="#thegame">
                    <span>
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="40px"
                            height="40px"
                            fill="white"
                            class="bi bi-caret-down"
                            viewBox="0 0 16 16"
                        >
                            <path
                                d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"
                            />
                        </svg>
                    </span>
                </a>
            </div>
        </div>
        <!-- End Header -->

        <!-- Start The Game Content -->
        <div
            class="jumbotron jumbotron-fluid bg-image gamecontent"
            id="thegame"
        >
            <div class="container h-75 d-flex align-items-center">
                <div class="row mx-auto">
                    <div class="col-lg-4">
                        <h3>What's so special?</h3>
                        <h1>The games</h1>
                    </div>
                    <div class="col-lg-8">
                        <div
                            id="carousel-game"
                            class="carousel slide"
                            data-ride="carousel"
                        >
                            <ol class="carousel-indicators">
                                <li
                                    data-target="#carousel-game"
                                    data-slide-to="0"
                                    class="active"
                                ></li>
                                <li
                                    data-target="#carousel-game"
                                    data-slide-to="1"
                                ></li>
                                <li
                                    data-target="#carousel-game"
                                    data-slide-to="2"
                                ></li>
                                <li
                                    data-target="#carousel-game"
                                    data-slide-to="3"
                                ></li>
                                <li
                                    data-target="#carousel-game"
                                    data-slide-to="4"
                                ></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img
                                        class="d-block w-75"
                                        src="/assets/images/landingpage/rockpaperstrategy-1600.jpg"
                                        alt="First slide"
                                    />
                                </div>
                                <div class="carousel-item">
                                    <img
                                        class="d-block w-75"
                                        src="/assets/images/landingpage/rockpaperstrategy-1600.jpg"
                                        alt="Second slide"
                                    />
                                </div>
                                <div class="carousel-item">
                                    <img
                                        class="d-block w-75"
                                        src="/assets/images/landingpage/rockpaperstrategy-1600.jpg"
                                        alt="Third slide"
                                    />
                                </div>
                                <div class="carousel-item">
                                    <img
                                        class="d-block w-75"
                                        src="/assets/images/landingpage/rockpaperstrategy-1600.jpg"
                                        alt="Fourth slide"
                                    />
                                </div>
                                <div class="carousel-item">
                                    <img
                                        class="d-block w-75"
                                        src="/assets/images/landingpage/rockpaperstrategy-1600.jpg"
                                        alt="Fifth slide"
                                    />
                                </div>
                            </div>
                            <button
                                class="carousel-control-prev"
                                type="button"
                                data-target="#carousel-game"
                                data-slide="prev"
                            >
                                <span
                                    class="carousel-control-prev-icon"
                                    aria-hidden="true"
                                ></span>
                                <span class="sr-only">Previous</span>
                            </button>
                            <button
                                class="carousel-control-next"
                                type="button"
                                data-target="#carousel-game"
                                data-slide="next"
                            >
                                <span
                                    class="carousel-control-next-icon"
                                    aria-hidden="true"
                                ></span>
                                <span class="sr-only">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End The Game Content -->

        <!-- Start Features Content -->
        <div
            class="jumbotron jumbotron-fluid bg-image featurescontent"
            id="features"
        >
            <div class="container">
                <div class="row justify-content-end">
                    <div class="col-md-5">
                        <h3>What's so special?</h3>
                        <h1>Features</h1>
                        <div class="step completed">
                            <div class="v-stepper">
                                <div class="circle"></div>
                                <div class="line"></div>
                            </div>
                            <div class="content">
                                <h2>Traditional games</h2>
                                <p>
                                    If you miss your childhood, we provide many
                                    traditional games here
                                </p>
                            </div>
                        </div>
                        <div class="step active">
                            <div class="v-stepper">
                                <div class="circle"></div>
                            </div>
                            <div class="content">
                                <h2>Game suit</h2>
                            </div>
                        </div>

                        <div class="step active">
                            <div class="v-stepper">
                                <div class="circle"></div>
                            </div>
                            <div class="content">
                                <h2>TBD</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Features Content -->

        <!-- Start System Requirements Content -->
        <div
            class="jumbotron jumbotron-fluid bg-image sysreqcontent"
            id="sysreq"
        >
            <div class="container">
                <div>
                    <h5>Can My Computer Run This Game?</h5>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <h1>System Requirements</h1>
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td style="width: 50%">
                                        <h2>OS:</h2>
                                        <p>
                                            Windows 7 64-bit only <br />
                                            (No OSX support at this time)
                                        </p>
                                    </td>
                                    <td>
                                        <h2>Processor:</h2>
                                        <p>
                                            Intel Core 2 Duo @2.4GHz or AMD
                                            Athlon X2 @ 2.8GHz
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h2>Memory:</h2>
                                        <p>4 GB RAM</p>
                                    </td>
                                    <td>
                                        <h2>Storage:</h2>
                                        <p>8 GB available space</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <h2>Graphics:</h2>
                                        <p>
                                            NVIDIA GeForce GTX 660 2GB or<br />AMD
                                            Radeon HD 7850 2GB DirectX11 (Shader
                                            Model 5)
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- End System Requirements Content -->

        <!-- Start Top Scores Content -->
        <div
            class="jumbotron jumbotron-fluid bg-image topscorescontent"
            id="topscores"
        >
            <div class="container">
                <div class="topscoresleft">
                    <h1>Top Scores</h1>
                    <h2>
                        This top score from various games provided on this
                        platform
                    </h2>
                    <a href="#" class="btn btn-warning">see more</a>
                </div>

                <div class="row">
                    <div
                        class="col-lg-4 col-md-6 col-sm-8 offset-lg-8 offset-md-3 offset-sm-2 twittercards"
                    >
                        <div class="card text-white bg-dark mb-4">
                            <div class="card-header">
                                <img
                                    src="/assets/images/landingpage/evan-lahti.jpg"
                                    class="img-fluid float-left profilepic"
                                    alt="Evan Lahti"
                                />
                                <h3>Evan Lahti</h3>
                                <h4>PC Gamer</h4>
                                <img
                                    src="/assets/images/landingpage/twitter.svg"
                                    class="img-fluid float-right twitterlogo"
                                    alt="twitterlogo"
                                />
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">
                                    "One of my gaming highlights of the year."
                                </h5>
                                <p class="card-text">October 18, 2021</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div
                        class="col-lg-4 col-md-6 col-sm-8 offset-lg-6 offset-md-3 offset-sm-2 twittercards"
                    >
                        <div class="card text-white bg-dark mb-4">
                            <div class="card-header">
                                <img
                                    src="/assets/images/landingpage/jada-griffin.jpg"
                                    class="img-fluid float-left profilepic"
                                    alt="Jada Griffin"
                                />
                                <h3>Jada Griffin</h3>
                                <h4>Nerdreactor</h4>
                                <img
                                    src="/assets/images/landingpage/twitter.svg"
                                    class="img-fluid float-right twitterlogo"
                                    alt="twitterlogo"
                                />
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">
                                    "The next big thing in the world of
                                    streaming and survival games."
                                </h5>
                                <p class="card-text">July 10, 2021</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div
                        class="col-lg-4 col-md-6 col-sm-8 offset-lg-7 offset-md-3 offset-sm-2 twittercards"
                    >
                        <div class="card text-white bg-dark mb-1">
                            <div class="card-header">
                                <img
                                    src="/assets/images/landingpage/aaron-williams.jpg"
                                    class="img-fluid float-left profilepic"
                                    alt="Aaron Williams"
                                />
                                <h3>Aaron Williams</h3>
                                <h4>Uproxx</h4>
                                <img
                                    src="/assets/images/landingpage/twitter.svg"
                                    class="img-fluid float-right twitterlogo"
                                    alt="twitterlogo"
                                />
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">
                                    "Snoop Dogg Playing The Wildly Entertaining
                                    'SOS' Is Ridiculous
                                </h5>
                                <p class="card-text">December 24, 2018</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Top Scores Content -->

        <!-- Start Newsletter Content -->
        <div
            class="jumbotron jumbotron-fluid bg-image d-flex align-items-center newslettercontent"
            id="newsletter"
        >
            <div class="container">
                <div class="row d-flex">
                    <div class="col-md-6 offset-md-6 text-left">
                        <h3>Want to stay in touch?</h3>
                        <h1>Newsletter Subscribe</h1>
                        <p>
                            In order to start receiving our news, all you have
                            to do is enter your email address. Everything else
                            will be taken care of by us. We will send you emails
                            containing information about game. We don’t spam.
                        </p>
                    </div>
                    <div class="col-md-6 offset-md-6">
                        <form class="form-row">
                            <div class="form-group col-md-7">
                                <label class="sr-only" for="email">email</label>
                                <input
                                    type="text"
                                    class="form-control mb-2 mr-sm-2 pt-3 bg-dark"
                                    id="email"
                                    placeholder="youremail@binar.co.id"
                                />
                                <p>Your email address</p>
                            </div>
                            <div class="col-md-5 text-left">
                                <button class="btn btn-warning mb-3 w-100">
                                    Subscribe now
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Newsletter Content -->

        <!-- Start Footer -->
        <div id="footer">
            <div class="navigation text-center" id="navigation">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 my-2">
                            <a href="#"><span>Main</span></a>
                            <a href="#"><span>About</span></a>
                            <a href="#"><span>Game Features</span></a>
                            <a href="#"><span>System Requirements</span></a>
                            <a href="#"><span>Quotes</span></a>
                        </div>
                        <div class="col-lg-4 my-2 socialmedia">
                            <a href="https://facebook.com/"
                                ><span
                                    ><img
                                        src="/assets/images/landingpage/facebook.svg"
                                        alt="facebook" /></span
                            ></a>
                            <a href="https://twitter.com/"
                                ><span style="color: white"
                                    ><img
                                        src="/assets/images/landingpage/twitter.svg"
                                        alt="twitter" /></span
                            ></a>
                            <a href="https://youtube.com/"
                                ><span
                                    ><img
                                        src="/assets/images/landingpage/Vector.svg"
                                        alt="youtube" /></span
                            ></a>
                            <a href="https://twitch.tv/"
                                ><span
                                    ><img
                                        src="/assets/images/landingpage/twitch.svg"
                                        alt="twitch" /></span
                            ></a>
                        </div>
                    </div>
                    <hr />
                    <div class="row content-justify-end footer">
                        <div class="col-lg-4">
                            <div class="d-inline">
                                <p>
                                    &copy 2018 Your Games, inc. All Rights
                                    Reserved
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-6 offset-lg-2 mb-2">
                            <div class="d-inline">
                                <a href="#"><span>Privacy Policy </span></a>|
                                <a href="#"><span>Terms of Services </span></a>|
                                <a href="#"><span>Code of Conduct</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer -->

        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script
            src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
