<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
    <link rel="stylesheet" href="/assets/css/style-login.css" />
    <title>Register</title>
</head>

<body>
    <div class="row">
        <div class="colm-form">
            <h1 class="text-center">Add Data</h1>
            <div class="form-container">
                <form action="/users/register" method="POST">
                    <input type="text" name="name" placeholder="Name" />
                    <input type="text" name="email" placeholder="Email" />
                    <input type="text" name="address" placeholder="Address" />
                    <input type="text" name="username" placeholder="Username" />
                    <input type="password" name="password" placeholder="Password" />
                    <button type="submit" id="submit" class="btn-login">Submit</button>
                    <a href="/users" type="button" class="btn btn-light">Back</a>
                </form>
            </div>
        </div>
    </div>
</body>

</html>