<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
  <link rel="stylesheet" href="/assets/css/style-login.css" />
  <title>Update</title>
</head>

<body>
  <div class="row">
    <div class="colm-form">
      <div class="form-container">
        <h1 class="text-center">Update Data</h1>
        <form action="/users/update/<%= user.id %>?" method="POST">
          <label for="name">Name</label>
          <input type="text" name="name" placeholder="Name" value="<%= user.UserGameBiodatum.name %>" style="margin-bottom: 1em;" />
          <label for="email">Email</label>
          <input type="text" name="email" placeholder="Email" value="<%= user.email %>" style="margin-bottom: 1em;" />
          <label for="address">Address</label>
          <input type="text" name="address" placeholder="Address" value="<%= user.UserGameBiodatum.address %>" style="margin-bottom: 1em;" />
          <label for="username">Username</label>
          <input type="text" name="username" placeholder="Username" value="<%= user.username %>" style="margin-bottom: 1em;"/>
          <label for="password">Password</label>
          <input type="text" name="password" placeholder="Password" value="<%= user.password %>" style="margin-bottom: 1em;"/>
          <button type="submit" class="btn-login">Update</button>
          <a href="/users" type="button" class="btn btn-light">Back</a>
        </form>
      </div>
    </div>
  </div>
</body>

</html>