<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
  <title>List of Users</title>
</head>

<body>
  <div class="container d-flex flex-column">
  <div class="col-md-12 text-right" style="margin-top: 2em; margin-bottom: 1em;">
    <a href="/formregister" type="button" class="btn btn-primary">Add User</a>
  </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">No</th>
          <th scope="col">Name</th>
          <th scope="col">Address</th>
          <th scope="col">Username</th>
          <th scope="col">Email</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <% no = 1 %>
        <% data.forEach(item => { %>
        <tr>
          <td><%= no++ %></td>
          <td><%= item.UserGameBiodatum.name %></td>
          <td><%= item.UserGameBiodatum.address %></td>
          <td><%= item.username %></td>
          <td><%= item.email %></td>
          <td>
            <a class="btn btn-success btn-edit" href="/users/<%= item.id %>">Edit</a>
            <a class="btn btn-danger btn-delete" href="/users/delete/<%= item.id %>">Delete
            </a>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</body>

</html>